@import "palette.css";

html {
  font-family: 'Raleway', "Meiryo UI" , "メイリオ" , Meiryo;
  font-weight: 100;
  color: var(--color-text);
}

:link, :visited {
  color: var(--color-text);
}

body { }

* { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', "Meiryo UI" , "メイリオ" , Meiryo;
  font-weight: 100;
}

footer {
  text-align: center;
  background-color: #E5D5B9;
}

footer > p {
  margin: 0;
  padding: 1rem 0;
}
